.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: fluid(24, 12);

  @include mobile {
    grid-template-columns: repeat(2, 1fr);
  }

  @include mobile-s {
    grid-template-columns: repeat(1, 1fr);
  }
}

.grid > :nth-child(1),
.grid > :nth-child(2) {
  grid-column: span 2;

  @include mobile-s {
    grid-column: 1;
  }
}
