.slider {
  position: relative;

  width: 100%;
  overflow: hidden;
}

.track {
  display: flex;
  gap: fluid(24, 16);

  width: max-content;

  transition: transform var(--transition-slow) var(--transition-easing);
}

.slide {
  flex: 0 0 min(1000px, 80vw);
}

@include mobile {
  .slide {
    flex-basis: calc(100vw - 2 * var(--container-padding-x));
  }
}