.card {
  position: relative;
  overflow: hidden;
  border-radius: 16px;
}

.image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  gap: fluid(16, 8);

  padding: 24px;

  background-color: var(--color-background-transparent);

  transform: translateY(100%);
  transition: transform var(--transition-slow);
}

.card:hover .overlay {
  transform: translateY(0);
}